<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAay_krYJMbMTfRq79JwUpgK4Dp1POva6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>7732356358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.rodocalc</string>
	<key>PROJECT_ID</key>
	<string>rodocalc-push</string>
	<key>STORAGE_BUCKET</key>
	<string>rodocalc-push.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7732356358:ios:7195da3f0d607f3912ea87</string>
</dict>
</plist>